# Python Installation

Untuk mendownload python dapat dilakukan melalui link https://www.anaconda.com/distribution/. Silahkan pilih python yang sesuai dengan sistem operasi yang digunakan pada PC yang akan diinstal python.

Setelah selesai melakukan download, buka file yang didownload dan instal anaconda.
Dengan menginstal anaconda maka berbagai modul yang dimiliki pada python telah otomatis terinstal.
Text editor yang sering dipakai seperti spyder atau jupyter notebook juga telah terinstal pada PC.

## 1. Get Started
### a. 'Hello World'

In [1]:
print('Hello World')
print('My name is Haris Suhendar')
print('I am graduate student of physics in Gadjah Mada University')
print('I really interested to study python programming')

Hello World
My name is Haris Suhendar
I am graduate student of physics in Gadjah Mada University
I really interested to study python programming

### b. Tipe Data

Tipe data menentukan jenis operasi yang dapat diberikan pada data tersebut.
Pada python terdapat beberapa jenis data sebagai berikut

#### Numerik
- Integer -> bilangan positif atau negatif tanpa bagian desimal
- Float -> Seluruh bilangan real yang dapat mengandung bagian desimal
- Bilangan kompleks -> Suatu bilang yang terdiri atas bagian real dan imaginer, biasanya ditulisakn sebagai x + yj. Dimana x dan y adalah bilangan bertipe float, sedangkan j adalah akar $\sqrt{-1}$

#### Boolean
Jenis data yang hanya mengenal dua nilai yaitu True atau False ('T' atau 'F', 1 atau 0) 

#### Data sekuensial (Sequence Type)
Gabungan dari beberapa data yang bertype sama ataupun berbeda
- String -> Kumpulan satu atau lebih karakter huruf atau gabungan huruf dan angka
- List -> Gabungan beberapa data yang membentuk suatu urutan. Data tidak harus memiliki tipe yang sama (angka atau huruf), dan diletakkan dalam kurung kotak ('[]' atau square bracket)
- Tupple -> Gabungan beberapa data yang membentuk suatu urutan. Data tidak harus memiliki tipe yang sama (angka atau huruf), dan diletakkan dalam tanda kurung ('()' atau parentheses)

#### Dictionary
Kumpulan data tidak berurutan yang membentuk format key:value. Kumpulan beberapa pasangan data tersebut ditutup dengan kurung kurawal ('{}'). Contoh {1:"Bakso", 2:"Sate", 3:"Bakmi", 4:"Siomay"}

untuk mengecek type dari suatu data dapat digunakan fungsi $\textit{type()}$

In [2]:
type(1234)   # Interger
type(55.00)  # Floar
type(2+1j)   #Complex
type('hello') #String
type([1,2,3,4]) #List
type((1,2,3,4)) #Tupple
type({1:'one', 2:'two', 3:'three', 4:'four'}) #Dictionary
x=5
print(x==5)  #Boolean

True

### c. Operasi bilangan (Int, Float, Complex)

In [3]:
X = 10
Y = X**2
print(Y)

100

In [4]:
X = 9.92
Y = X/5
print(Y)

1.984

In [5]:
X = 1+2j
Y = 1.5 + 4j
print(X/Y)
print(X*Y)

(0.5205479452054794-0.0547945205479452j)
(-6.5+7j)

### d. Operasi String

In [6]:
mystring = 'hello'
print(mystring*3)

mystring[0]

hellohellohello

'h'

In [7]:
mystring[4]

'o'

In [8]:
print(mystring[1:4])
print(mystring[1:])

ell
ello

In [9]:
string = 'world'
text = mystring + string
print(text)

text = mystring + " " + string
print(text)

helloworld
hello world

In [10]:
print('world' in text)
print('string' in mystring)
print('string' not in mystring)

True
False
True

In [11]:
X = 6.2 + 2j   #Complex
Xstr = str(X)  #dikonvert ke string
print(Xstr)
print(type(X))
print(type(Xstr))

(6.2+2j)
<class 'complex'>
<class 'str'>

In [12]:
name = 'Haris'
age = 25
"My name is %s. I am %d years old." % (name, age)

'My name is Haris. I am 25 years old.'

In [13]:
"My name is {} and I am {} years old." .format(name, age)

'My name is Haris and I am 25 years old.'

In [14]:
mystr = "tutorial pemprograman python dari kegiatan tutorial HMPF"
print(mystr.find('python'))
mystr.count('tutorial')      # Menghitung jumlah kata 'tutorial' dalam kalimat

22

2

In [15]:
str1 = '2000'
str1.isdigit()

str2 = '2,000'
str2.isdigit()

False

Fungsi built-in lainnya yang terdapat dalam operasi string diantaranya:
- capitalized()
- upper()
- lower()
- islower()
- isupper()
- isalpha()
- dll

### e. Operasi List

Sebuah list dituliskan didalam sebuah square bracket

list = [nilai1, nilai2, nilai3, ..., nilai_n]

In [16]:
languages = ['Pascal', 'Fortran', 'C#', 'Python', 'Java']
Suhu = [40, 42, 41, 45, 43]

In [17]:
print(type(Suhu))
print(type(languages))

<class 'list'>
<class 'list'>

In [18]:
languages[0]
#Suhu[1]

'Pascal'

In [19]:
L1=[1,2,3]   
L2=[4,5,6] 
L = L1+L2  #Penjumlahan dua buah list
L

[1, 2, 3, 4, 5, 6]

In [20]:
L[1:3]
#L[3:]

[2, 3]

In [21]:
4 in L

True

In [22]:
10 in L

False

In [23]:
10 not in L

True

Fungsi - fungsi built-in lainnya yang terdapat pada operator List diantaranya:

- len()
- max()
- min()
- append()
- insert()
- remove()
- pop()
- reverse()
- sort()
- list()
- tuple()

In [24]:
len(L)

6

### f. Tuple

Tuple memiliki banyak kemiripan dengan list dan biasanya dituliskan sama seperti pada list hany saja perbedaannya terdapat pada tanda kurung yang mengumpulkan objek

tuple = (nilai_1, nilai_2, nilai_3, ..., nilai_n)

### g. Dictionary

Biasanya ditulis dalam bentuk berikut

dict = { key1:value1, key2:value2,...keyN:valueN }

In [25]:
capitals={"USA":"Washington, D.C.", "France":"Paris", "India":"New Delhi"}
capitals['USA']
capitals.get('USA')

'Washington, D.C.'

In [26]:
for key in capitals:
    print("Key = " + key + ", Value = " + capitals[key])

Key = USA, Value = Washington, D.C.
Key = France, Value = Paris
Key = India, Value = New Delhi

In [27]:
capitals.keys()

dict_keys(['USA', 'France', 'India'])

In [28]:
capitals.values()

dict_values(['Washington, D.C.', 'Paris', 'New Delhi'])

## 2. Decision Control

In [29]:
price=int(input("Masukkan Harga: "))
qty=int(input("Masukkan Jumlah: "))
amt=price*qty
if amt>1000:
    print("Potongan harga sebesar 10%")
    discount=amt*10/100
    amt=amt-discount
print ("Total pembayaran: ",amt)

Masukkan Harga: 300
Masukkan Jumlah: 5
Potongan harga sebesar 10%
Total pembayaran:  1350.0

In [30]:
price=int(input("Masukkan Harga: "))
qty=int(input("Masukkan Jumlah: "))
amt=price*qty
if amt>1000:
    print("10% discount is applicable")
    discount=amt*10/100
    amt=amt-discount
else:
    add = 1001 - amt
    print("Tambah pembelian sejumlah", add, " untuk mendapatkan diskon 10%")
print ("Total Pembayaran: ",amt)

Masukkan Harga: 70
Masukkan Jumlah: 8
Tambah pembelian sejumlah 441  untuk mendapatkan diskon 10%
Total Pembayaran:  560

## 3. Looping

### While Loop

In [31]:
num =0
while num< 5:
    num = num + 1
    print("num =", num)

num = 1
num = 2
num = 3
num = 4
num = 5

In [32]:
num=0
count=0
sum=0
while num>=0:
    num=int(input("enter any number .. -1 to exit \n"))
    if num>=0:
        count=count+1 #this counts number of inputs 
        sum=sum+num # this adds input number cumulatively. 
avg=sum/count
print ("numbers input:",count, "average:",avg)

enter any number .. -1 to exit
3
enter any number .. -1 to exit
4
enter any number .. -1 to exit
-1
numbers input: 2 average: 3.5

### For Loop

In [33]:
mylist=[10, 20, 30, 40, 50]
for i in mylist:
    print(i)

10
20
30
40
50

In [35]:
sum=0
numbers =[10,20,30,40]
for num in numbers:
    print(num, end=',')
    sum=sum+num
avg=sum/len(numbers)
print ('\nAverage:', avg)

10,20,30,40,
Average: 25.0

In [37]:
for i in range(1,5):
    print(i)

1
2
3
4

In [39]:
for i in range(1,4):
    for j in range(1,3):
        print(j)

1
2
1
2
1
2

## 4. Menuliskan Fungsi

In [41]:
def SayHello():
    return "Hello! Selamat belajar pemrograman python"

In [42]:
SayHello()

'Hello! Selamat belajar pemrograman python'

In [46]:
def SayHello(nama):
    print('Hello {}!' .format(nama))
    return

In [49]:
SayHello("Haris")

Hello Haris!

In [50]:
def sum(a,b):
    return a + b

sum(2,5)

7

In [48]:
def result(m1,m2,m3):
        ttl=m1+m2+m3
        percent=ttl/3
        if percent>=50:
            print ("Result: Pass")
        else:
            print ("Result: Fail")
        return

p=int(input("Enter your marks in physics: "))
c=int(input("Enter your marks in chemistry: "))
m=int(input("Enter your marks in maths: "))
result(p,c,m)

Enter your marks in physics: 60
Enter your marks in chemistry: 50
Enter your marks in maths: 40
Result: Pass

In [52]:
square = lambda x : x * x 
square(5)

25

In [53]:
sum = lambda x, y, z : x + y + z 
sum(5, 10, 15)

30